<section class="container py-5">
  <div class="row">

    <div class="col-lg-3 py-2"  *ngFor="let item of listServicios">
      <div class="card h-100">
        <div class="card-header text-white rojo ">
          <h5 class="card-title text-center">{{item.nombre}}</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title ">{{item.tipoServicio.nombre}}</h6>

          <p class="card-text ">{{item.descripcion}}</p>
         </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-light border border-3">Ver solicitudes</a>
          <button type="button" class="btn btn-secondary"  (click)="editarServicio(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-danger" (click)="borrarServicio(item)"><i class="fa fa-times" ></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
