<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Servicios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <a class="navbar-brand h1 " href="#">
                <!-- <i class='bx bx-world bx-sm text-dark'></i> -->
                <span class="text-dark h4">Reserv</span><span class="text-primary  h4">AR</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
              <ul class="navbar-nav align-items-center">
                  <li class="nav-item ">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" onclick="window.location.href='nuevoServicio.html'" href="#">Publicar servicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis servicios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" onclick="window.location.href='verMisReservas.html'" href="#">Mis reservas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis prestaciones</a>
                  </li>
              </ul>
              <ul class="navbar-nav align-items-center lista-flex">
                  
                  <li class="nav-item "><button type="button" class="btn btn-primary">Cerrar Sesión</button></li>
              </ul>
          </div>
        </div>
    </nav>


    <section class="container py-5">
    <div class="row">

      <div class="col-lg-3 py-2">
        <div class="card h-100">
          <div class="card-header text-white rojo ">
            <h5 class="card-title text-center">Servicio 1</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title ">Tipo: Catering</h6>

            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           </div>
          <div class="card-footer text-center">
            <a href="#" class="btn btn-light border border-3">Ver solicitudes</a>
            <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>            </div>
        </div>
      </div>

        <div class="col-lg-3 py-2">
            <div class="card h-100">
              <div class="card-header text-white rojo ">
                <h5 class="card-title text-center">Servicio 2</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title ">Tipo: Catering</h6>

                <p class="card-text ">
                  This content is a little bit longer.</p>
               </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-light border border-3">Ver pedidos</a>
                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>            </div>
            </div>
          </div>

          <div class="col-lg-3 py-2">
            <div class="card h-100">
              <div class="card-header text-white rojo ">
                <h5 class="card-title text-center">Servicio 3</h5>
              </div>
              <div class="card-body">
                  <h6 class="card-title ">Tipo: Catering</h6>

                  <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-light border border-3">Ver pedidos</a>
                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>            </div>
            </div>
          </div>

          <div class="col-lg-3 py-2">
            <div class="card h-100">
              <div class="card-header text-white rojo ">
                <h5 class="card-title text-center">Servicio 4</h5>
              </div>
              <div class="card-body">
                  <h6 class="card-title ">Tipo: Catering</h6>

                  <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-light border border-3">Ver pedidos</a>
                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>            </div>
            </div>
          </div>

          <div class="col-lg-3 py-2">
            <div class="card h-100">
              <div class="card-header text-white rojo ">
                <h5 class="card-title text-center">Servicio 5</h5>
              </div>
              <div class="card-body">
                  <h6 class="card-title ">Tipo: Catering</h6>

                  <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-light border border-3">Ver pedidos</a>
                <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>            </div>
            </div>
          </div>
  
          <div class="col-lg-3 py-2">
              <div class="card h-100">
                <div class="card-header text-white rojo ">

                  <h5 class="card-title text-center text-white">Servicio 6</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title ">Tipo: Catering</h6>

                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-light border border-3">Ver pedidos</a>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>            </div>
              </div>
            </div>
  
            <div class="col-lg-3 py-2">
              <div class="card h-100">
                <div class="card-header text-white rojo ">
                  <h5 class="card-title text-center ">Servicio 7</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title ">Tipo: Catering</h6>

                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-light border border-3">Ver pedidos</a>
                    <button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>  
                </div>
              </div>
            </div>
  

            
    </div>

  </section>
    <footer>
        <div class="w-100 bg-dark">
            <div class="container">
                <div class="row pt-4" style="justify-content: space-between;">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center">
                            © Copyright 2021 <strong>ReservAR</strong>. Todos los derechos reservados.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-end text-center">
                            Diseñado por <strong class="text-light">Grupo 13</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>