<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="nuevoServicio.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <a class="navbar-brand h1" href="#">
                <!-- <i class='bx bx-world bx-sm text-dark'></i> -->
                <span class="text-dark h4">Titulo </span><span class="text-primary  h4">pagina</span>
            </a>
            <button id="boton" class="navbar-toggler" type="button id="boton"" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button id="boton">
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
              <ul class="navbar-nav align-items-center">
                  <li class="nav-item ">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Cargar servicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis servicios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis reservas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis puntuaciones</a>
                  </li>
              </ul>
              <ul class="navbar-nav align-items-center lista-flex">
                  
                  <li class="nav-item "><button type="button" class="btn btn-primary">Cerrar Sesión</button id="boton"></li>
              </ul>
          </div>
        </div>
    </nav>

    <section>
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <h3 class="nuevoServ">Nuevo servicio</h3>
                        <form class="form-card" onsubmit="event.preventDefault()">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nombre del servicio<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="" required> </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo de servicio<span class="text-danger"> *</span></label> <select class="form-select" aria-label="Default select example">
                                    <option selected>Catering</option></select> 
                                </div>
                                
                            </div>

                            
                         
                                <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3 descrip">Descripción<span class="text-danger"> *</span></label> <textarea id="ans" name="ans"  placeholder="Ingrese detalles de su servicio que considere importantes" required></textarea></div>
                                <div class="botonOk">
                                    <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but">Subir imágenes</button id="boton"> </div>
                                </div>
                        
                            <div>
                                <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label contacto">Contacto</label>
                                    <div class="row justify-content-between text-left">
                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Numero telefónico<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="" required> </div>
                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Página web<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="" required> </div>
                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Facebook<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="Ingrese el nombre de su cuenta" required> </div>
                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Instagram<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="Ingrese el nombre de su cuenta" required> </div>    
                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Twitter<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="Ingrese el nombre de su cuenta" required> </div>                          
                                    </div>
                                </div>

                            </div>
                            <div class="botonOk">
                                <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but ">Confirmar</button id="boton"> </div>
                                <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but">Cancelar</button id="boton"> </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="w-100 bg-dark">
            <div class="container">
                <div class="row pt-4" style="justify-content: space-between;">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center">
                            © Copyright 2021 <strong>Titulo pagina</strong>. Todos los derechos reservados.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-end text-center">
                            Diseñado por <strong class="text-light">Grupo 13</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>