<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Servicios</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container">
            <a class="navbar-brand h1" href="#">
                <span class="text-dark h4">Titulo</span><span class="text-primary  h4">pagina</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
              <ul class="navbar-nav align-items-center">
                  <li class="nav-item ">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" onclick="window.location.href='nuevoServicio.html'" href="#">Publicar servicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis servicios</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" onclick="window.location.href='verMisReservas.html'" href="#">Mis reservas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-nav rounded-pill " aria-current="page" href="#">Mis prestaciones</a>
                  </li>
              </ul>
              <ul class="navbar-nav align-items-center lista-flex">
                  
                  <li class="nav-item "><button type="button" class="btn btn-primary">Cerrar Sesión</button></li>
              </ul>
          </div>
        </div>
    </nav>


<section style="margin-left: 20%; margin-right: 20%;">
    <form class="mb-5">
      
        <div class="form-outline mb-4 mt-4">
          <label class="form-label" for="servicio">Servicio</label>  
          <input class="form-control" id="servicio" type="text" disabled value="Servicio elegido">          
        </div>

        <div class="row">
            <div class="col mb-4">
            
              <label class="form-label" for="direccion">Direccion</label>  
              <input type="text" id="direccion" class="form-control">
            </div>
            <div class="col">
              <label class="form-label" for="codP">Codigo postal</label>  
              <input type="text" id="codP" class="form-control" >
            </div>
          </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="evento">Tipo de evento</label>  
            <select id="evento" class="form-control mb-5">
                <option>Celebracion privada</option>
                <option>Festival</option>
                <option>Evento</option>
                <option>Market callejero</option>
              </select>
        </div>
        <div class="row">
            <div class="col mb-4">
              <label class="form-label" for="date">Fecha</label><br>
              <input type="date" id="date" name="date" value="2018-07-22" min="2021-01-01">
            </div>
            <div class="col mb-4">

              <label class="form-label" for="time">Hora</label><br>
              <input type="time" id="time" name="time"
                    required>
            </div>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="descripcion">Descripcion</label>
            <textarea class="form-control" id="descripcion" rows="4"></textarea>
          </div>



        <div class="form-outline mb-4">
            <label class="form-label" for="pago">Forma de pago</label>  
            <select id="pago" class="form-control mb-5">
                <option>Forma 1</option>
                <option>Forma 2</option>
                <option>Forma 3</option>
              </select>
        </div>

        <div class="row mb-4">
            <div class="col mb-4">
            
                <label class="form-label" for="form3Example3">Email</label>  
                <input type="email" id="form3Example3" class="form-control"/>
            </div>

            <div class="col mb-4">
            
                <label class="form-label" for="form3Example3">Telefono de contacto</label>  
                <input type="email" id="form3Example3" class="form-control"/>
            </div>
        </div>



          <button type="button" class="btn btn-primary ">Reservar</button>

      </form>
    </section>
    <footer>
        <div class="w-100 bg-dark">
            <div class="container">
                <div class="row pt-4" style="justify-content: space-between;">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-start text-center">
                            © Copyright 2021 <strong>Titulo pagina</strong>. Todos los derechos reservados.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-lg-end text-center">
                            Diseñado por <strong class="text-light">Grupo 13</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>