.btn-nav:hover{
    border-color: #d52136 ;
    background-color: #d52136;
    color: white !important;
    padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn-nav{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn-outline-primary{
    border-color: #d52137 ;
    background-color: #d5213657;
    color: white !important;
}

.btn-outline-primary:hover{
    background-color: #d52137 ;
    border-color: #d52137 ;
    color: white !important;
    box-shadow: none  !important;
}

.bg-light{
    background-color: #eee3df !important ;
}


.bg-dark{
    background-color: #353b43 !important ;
    color: white;
}
.text-primary{
    color: #d52137 !important;
}

.lista-flex {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
  }

li{
    padding: 10px;
    
}

.btn-primary{
    border-color: #d52137;
    background-color: #d52137 ;
    color: white !important;
}

.btn-primary:hover{
    background-color: #353b43    ;
    border-color: #353b43    ;
    color: white !important;
}

.btn-primary:focus{
  background-color: #d52137    ;
  border-color: #d52137    ;
  color: white !important;
  box-shadow: none  !important;
}

#index_banner1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.514)) , url('img/banner1.jpg');
    background-position: center center; background-size: cover;
    height: 550px;
    font-size: xx-large !important;
    font-weight: 400px;
    /* text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.1em black; */
    font-family: 'Roboto', sans-serif;

  }

  #index_banner2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.637)) , url('img/banner2.jpg');
    background-position: center center; background-size: cover;
    font-size: xx-large !important;
    height: 550px;

    font-family: 'Roboto', sans-serif;

  }

  #index_banner3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.637)) , url('img/banner3.jpg');
    background-position: center center; background-size: cover;
    font-size: xx-large !important;
    height: 550px;

    font-family: 'Roboto', sans-serif;

  }

  
  .direccion{
    font-weight : 100;
    font-size: x-large !important;
  }

  .rojo{
    background-color: #d52137;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .accordion-button:not(.collapsed) {
    font-weight: bold;
    color: #d52137;
    background-color: #eee3df;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: #ccbcc4;
    outline: 0;
    box-shadow: 0px 0px 5px 1px rgb(204, 188, 196) !important;
  }

  body{
    background:#f5f5f5;
  }

/* ===== Career ===== */
.career-form {
  background-color: #4e63d7;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}

ul {
  list-style: none; 
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
    margin-bottom: 30px;
}

.mr-md-4{
    margin-left: 20px;
}