    <section>
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100 fondoFlores">
            <div class="col-md-8 col-lg-6 col-xl-4 p-5 my-5 bg-white rounded">
              <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

                <!-- Email input -->
                <div class="form-group form-outline mb-4">
                  <label class="form-label" for="nombre">Nombre</label>
                  <input name="nombre" ngModel type="text" id="nombre" class="form-control form-control-lg"
                    placeholder="Ingrese su nombre" />
                </div>

                <div class="form-group form-outline mb-4">
                    <label class="form-label" for="apellido">Apellido</label>
                    <input name="apellido" ngModel type="text" id="apellido" class="form-control form-control-lg"
                      placeholder="Ingrese su apellido" />
                </div>

                <div class="form-group form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <input name="mail" ngModel type="email" id="email" class="form-control form-control-lg"
                      placeholder="Ingrese su email" />
                </div>

                <div class="form-group form-outline mb-4">
                    <label class="form-label" for="contrasena">Contraseña</label>
                    <input name="contrasena" ngModel type="password" id="contrasena" class="form-control form-control-lg"
                      placeholder="Ingrese su contraseña" />
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarme</button>

                </div>

              </form>
            </div>
          </div>
        </div>
      </section>
