<section>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active" id="index_banner1" >
              <div class="py-5 row d-flex align-items-center">
                  <div class="banner-content col-lg-4 offset-2  text-left py-5 px-5 " style="background-color:rgba(0, 0, 0, 0.651);">
                      <h1 class="banner-heading h1 text-white display-3 typo-space-line " style="font-family: 'Roboto', sans-serif;">
                          <strong>Kyoto</strong></h1>
                          <p class="banner-body text-white">
                              Catering oriental
                          </p>
                          <p class="banner-body text-white pb-3 direccion" style="font-size: large;" >
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"
                          role="button"> Contactar
                      </a>
                  </div>
              </div>
          </div>
          <div class="carousel-item" id="index_banner2">
              <div class="py-5 row d-flex align-items-center">
                  <div class="banner-content col-lg-4 offset-2  text-left py-5 px-5 " style="background-color:rgba(0, 0, 0, 0.651);">
                      <h1 class="banner-heading h1 text-white display-3 typo-space-line ">
                              El <strong>vagón</strong></h1>
                              <p class="banner-body text-white">
                                  Food truck
                              </p>
                              <p class="banner-body text-white pb-3 direccion" style="font-size: large;" >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                          <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"
                              role="button">Contactar
                          </a>
                      </div>
              </div>
          </div>
          <div class="carousel-item " id="index_banner3">
              <div class="py-5 row d-flex align-items-center" >
                  <div class="banner-content col-lg-4 offset-2  text-left py-5 px-5 " style="background-color:rgba(0, 0, 0, 0.651);">
                      <h1 class="banner-heading h1 text-white display-3 typo-space-line">
                              <strong>Planners</strong></h1>
                              <p class="banner-body text-white" style="font-size: x-large;" >
                                  Organizacion integral de Eventos

                              </p>
                              <p class="banner-body text-white pb-3 direccion" style="font-size: large;" >
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              </p>
                          <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#"
                              role="button">Contactar
                          </a>
                      </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>

</section>


<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mx-auto my-4 p-3">
              <form action="#" method="get">
                  <h1 class="h2 text-center">Suscribite a nuestras novedades</h1>
                  <div class="input-group py-3">

                      <input name="email" type="mail"
                          class="form-control form-control-lg rounded-pill rounded-end" id="email"
                          placeholder="Tu Email" aria-label="Tu Email" required>
                      <button
                          class="btn btn-primary text-white btn-lg rounded-pill rounded-start px-lg-4 "
                          type="submit">Suscribirte</button>
                  </div>
                  <p class="text-center light-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt labore et dolore magna aliqua.</p>
              </form>
          </div>
      </div>
  </div>
</section>
