<section>
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-lg-4 py-2">
                <div (click)="irApublicarServicio()" class="card  h-100 mb-2 " style="max-width: 100%;">
                    <div class="card-header rojo">

                    </div>
                    <img class="card-img-top" src="assets/img/dash1.jpg" alt="Card image cap">
                    <div class="card-body ">
                        <h5 class="text-center fw-bold">
                            PUBLICAR SERVICIO
                        </h5>
                        <p class="text-muted text-center" style="font-size: small">
                            Ofrecer un servicio para que otros puedan realizar pedidos
                        </p>
                        

                    </div>
                </div>
            </div>
            <div class="col-lg-4 py-2">
                <div (click)="irAVerMisServicio()" class="card h-100 mb-2" style="max-width: 100%;">
                    <div class="card-header rojo">

                    </div>
                    <img class="card-img-top" src="assets/img/dash2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center fw-bold">
                            MIS SERVICIOS
                        </h5>
                        <p class="text-muted text-center" style="font-size: small">
                            Listado de servicios ofrecidos por mí
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5 justify-content-center ">
            <div class="col-lg-4 py-2">

                <div (click)="irAVerServicios()" class="card h-100 mb-2 " style="max-width: 100%;">
                    
                    <div class="card-header rojo">

                    </div>
                    <img class="card-img-top" src="assets/img/dash3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center fw-bold">
                            BUSCAR SERVICIOS
                        </h5>
                        <p class="text-muted text-center" style="font-size: small">
                            Buscar servicios ofrecidos por otras personas
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col-lg-4 py-2">
                <div class="card  h-100 mb-2" style="max-width: 100%;">
                    <div class="card-header rojo">

                    </div>
                    <img class="card-img-top" src="assets/img/dash4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center fw-bold">
                            MIS RESERVAS
                        </h5>
                        <p class="text-muted text-center" style="font-size: small">
                            Listado de reservas realizadas por mí a servicios publicados por otras personas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
