<section>
  <div class="container-fluid px-1 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
              <h3 class="nuevoServ">Nuevo servicio</h3>
                  <form class="form-card" >
                      <div class="row justify-content-between text-left">
                          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nombre del servicio<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="" required> </div>
                          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo de servicio<span class="text-danger"> *</span></label> <select class="form-select" aria-label="Default select example">
                              <option selected>Catering</option></select>
                          </div>

                      </div>



                          <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3 descrip">Descripción<span class="text-danger"> *</span></label> <textarea id="ans" name="ans"  placeholder="Ingrese detalles de su servicio que considere importantes" required></textarea></div>
                          <div class="botonOk">
                              <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but" id="boton">Subir imágenes</button ></div>
                          </div>

                      <div>
                          <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label contacto">Contacto</label>
                              <div class="row justify-content-between text-left">
                                  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Numero telefónico<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="" required> </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Página web<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="" required> </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Facebook<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="Ingrese el nombre de su cuenta" required> </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Instagram<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="Ingrese el nombre de su cuenta" required> </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Twitter<span class="text-danger"></span></label> <input type="text" id="email" name="email" placeholder="Ingrese el nombre de su cuenta" required> </div>
                              </div>
                          </div>

                      </div>
                      <div class="botonOk">
                          <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but ">Confirmar</button> </div>
                          <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but">Cancelar</button> </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>
</section>
