<section>
  <div class="container-fluid ">
      <div class="fondoFlores row d-flex justify-content-center">
          <div  class="col-xl-7 col-lg-8 col-md-9 col-11 text-center shadow-lg p-5 my-5 bg-white rounded">
              <h3 class="nuevoServ">Nuevo servicio</h3>
                  <form class="form-card " ngNativeValidate (ngSubmit)="onSubmit()" [formGroup]="servicio">
                      <div class="row justify-content-between text-left">
                          <div class="form-group col-sm-6 flex-column d-flex"> 
                              <label class="form-control-label px-3">Nombre del servicio<span class="text-danger"> *</span></label> 
                              <input formControlName="nombre" type="text" id="fname" name="fname" placeholder="" required> 
                            </div>
                          <div class="form-group col-sm-6 flex-column d-flex"> 
                              <label class="form-control-label px-3">Tipo de servicio<span class="text-danger"> *</span></label> 
                              <select required formControlName="tipoServicio" class="form-select" aria-label="Default select example">
                              <option *ngFor="let tipo of tiposervicios" [ngValue]="tipo.id" >{{tipo.nombre}}</option>
                            </select>
                          </div>

                      </div>

                        <div class="form-group col-12 flex-column d-flex"> 
                            <label class="form-control-label px-3 descrip">Descripción<span class="text-danger"> *</span></label> 
                            <textarea required formControlName="descripcion" maxlength="255"  placeholder="Ingrese detalles de su servicio que considere importantes" required></textarea>
                        </div>
                        <label for="imagenes" class="form-control-label px-3">Imagen<span class="text-danger"> *</span></label>
                        <input type="file"  accept=".png, .jpg, .jpeg" (change)="onUploadChange($event)" class="custom-file-input me-2 " id="imagenes" required>
                          
                      <div>
                          <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label contacto">Contacto</label>
                              <div class="row justify-content-between text-left">
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Numero telefónico<span class="text-danger"> *</span></label> 
                                      <input required pattern="[0-9]{5,}" title="Solo puede contener numeros" formControlName="whatsapp"  type="text" placeholder="" > 
                                    </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Página web<span class="text-danger"></span></label> 
                                      <input     formControlName="url" type="text" id="email" name="email" placeholder=""> 
                                    </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Instagram<span class="text-danger"></span></label> 
                                      <input formControlName="instagram" type="text" id="ig" name="ig" placeholder="Ingrese el nombre de su cuenta" > 
                                    </div>
                                  <div class="form-group col-sm-6 flex-column d-flex"> 
                                      <label class="form-control-label px-3">Twitter<span class="text-danger"></span></label> 
                                      <input formControlName="twitter" type="text" id="tw" name="tw" placeholder="Ingrese el nombre de su cuenta" > 
                                    </div>
                              </div>
                          </div>

                      </div>
                      <div class="botonOk">
                          <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but ">Confirmar</button> </div>
                          <div class="form-group col-sm-6"> <button id="boton" type="submit" class="btn-block btn-primary but">Cancelar</button> </div>
                      </div>

                  </form>
              </div>
          </div>
      </div>
</section>
